header{
    background-image: url(assets/image-header.png);
    height: 100vh;
    background-repeat: no-repeat;
}
nav{
    padding: 24px;
    li{
        display: inline-block;
        color:white;
        padding: 15px;
        word-spacing: 1.8px;
        margin: 0 auto;
    }
    a{
        text-decoration: none;
    }
    ul{
        display: inline-block;
        float: right;
        margin: 0 auto;
    }
    body{
        font-family: Arial, Helvetica, sans-serif;
    }
    .hero{
        min-height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        background-image: url(assets/banniere-logo.png);
        background-repeat: no-repeat;
        padding: 40px;
        position: absolute;
    }
}
h1{
    color: white;
    font-weight: bolder;
    padding: 24px;
    margin: 0 auto;
    text-align: center;
    font-size: 53px;
    span{
        font-size: 134px;
    }
}
h2{
    color: white;
    font-weight: bolder;
    padding: 24px;
    margin:0 auto;
    text-align: center;
}
p{
    color: white;
    font-weight: bolder;
    text-align: center;
    

}
.buttons{
    display: flex;
    padding: 15px 32px;
    border-radius: 8px;
    justify-content: center;
    margin-top: 20px;
    a{
                color: white;
        text-decoration: none;
        margin: 10px;
    }
}
.btn{
    text-decoration: none;
    padding: 15px 32px ;
}
.btn-primary{
    background-color: black;
}
.btn-secondary{
    background-color: white;
}