*{
    text-decoration: none;
}
body{
        font-family:  "DM Sans", sans-serif;
        margin: 0;
        background-color: black;
       
    }
header{
    background-image: url(assets/image-header.png);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover ;
    background-position: center;
}
nav{
    padding: 24px;
    li{
        display: inline-block;
        color:white;
        padding: 15px;
        word-spacing: 1.8px;
        margin: 0 auto;
    }
    a{
        text-decoration: none;
    }
    ul{
        display: inline-block;
        float: right;
        
    }
    
    .hero{
        min-height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        background-image: url(assets/banniere-logo.png);
        background-repeat: no-repeat;
        padding: 40px;
        position: absolute;
    }
}
h1{
    color: white;
    font-weight: bolder;
    font-size: 40px;
    span{
        font-size: 100px;
    }
}
h2{
    text-align: center;
    color: white;
    font-weight: bolder;
    font-family:  "DM Sans", sans-serif;
}
p{
    color: white;
    font-weight: bolder;
   
    
    font-weight: 300;
    line-height: 1.7;
}
.buttons {
    background-color: black;
    padding: 15px;
    border-radius: 5px;
    color: white;
    text-decoration: none;
}

.blanc {
    background-color: white;
    color: black;
}

.container{
    width: 600px;
    margin: auto;
}

.containerB{
    width: auto;
}
main{
 #presentation{
 }
    .sectionPadding{
        padding-block: 120px;
        background-color: black;
    }
    .container{
        max-width: 900px;
     background-color: black;
    margin: auto;
        position: relative;
        height: 100vh;
        justify-content: flex-end;
        margin-top:10px;
        align-items: center;
        text-align: left;
        padding: 100px 15px;
    h2{
        color: white;
        text-align: left;
        font-size: 48px;
        font-weight: 600;
        word-spacing: 1.3;
        font-family: "DM Sans", sans-serif;
        justify-content: center;
        margin: 0 auto;
    }
    p{
        color: white;
        
        font-size: 20px;
        font-style: normal;
        font-weight: 300;
         font-family: "DM Sans", sans-serif;
         justify-content: center;
         margin: 0 auto;
    }   
}
#section2{ 
}
.container2{
    background-color: black;
    color: white;
    width: 200px;
    margin: auto;
    h2{
     
        margin: auto;
    }
    }
    ul{
        display: inline;
    }
    .lineup{
        padding: 20px;
        margin: 0;
        width: 400;
        padding: 20px;
        color: white;
    }
    .lineup li{
        align-items: center;
        font-weight: bolder;
        margin: 8px;
        border-top: 1px dashed white;
    }
   
    .buttons{
        position: relative;
        height: 100vh;
        justify-content: flex-end;
        margin-top:10px;
        align-items: center;
        text-align: left;
        padding: 100px 15px;
}
}